body {
  background-color: #686256;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
}

.App {
  background-color: white;
  padding: 20px 40px 20px 40px;
  margin: 20px;
}

.instrument-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin-top: 20px;
}

.instrument-card {
  border-bottom: 1px #a96e5b inset;
  border-top: 1px #a96e5b inset;
  padding: 20px 0;
}

.instrument-card__name {
  margin: 8px 0;
  display: block;
  font-weight: bold;
  font-size: 1.5em;
}

.instrument-card__difficulty {
  font-size: 1.2em;
  margin: 4px 0;
  display: block;
  font-weight: bold;
}
.instrument-card__difficulty label {
  margin-right: 4px;
  font-style: italic;
  font-weight: normal;
}

.instrument-card.Easy .instrument-card__difficulty span {
  color: #587e76;
}

.instrument-card.Hard .instrument-card__difficulty span {
  color:#c1502e;
}