body {
  background-color: #686256;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0 0 20px 0;
  width: 400px;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: white;
  border-bottom: 2px #a96e5b solid;
  text-align: center;
  font-size: x-large;
  display: flex;
  justify-content: space-evenly;
}

header a {
  color: #a96e5b;
  text-decoration: none;
  margin: 10px; 
}

header a:hover {
  text-decoration: underline;
}

.App main {
  background-color: white;
  padding: 20px 40px 20px 40px;
  margin: 80px 0;
  border: 2px #a96e5b solid;
}

.instrument-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin-top: 20px;
}

.instrument-card {
  border-bottom: 1px #a96e5b inset;
  border-top: 1px #a96e5b inset;
  padding: 20px 0;
}

.instrument-card__name {
  margin: 8px 0;
  display: block;
  font-weight: bold;
  font-size: 1.5em;
}

.instrument-card__difficulty {
  font-size: 1.2em;
  margin: 4px 0;
  display: block;
  font-weight: bold;
}
.instrument-card__difficulty label {
  margin-right: 4px;
  font-style: italic;
  font-weight: normal;
}

.instrument-card.Easy .instrument-card__difficulty span {
  color: #587e76;
}

.instrument-card.Hard .instrument-card__difficulty span {
  color:#c1502e;
}

.instrument-card__edit-button {
  color: #a96e5b ;
  margin-left: 10px;
  display: inline-block;
  transform: rotateZ(90deg);
  text-align: right;
}

.instrument-card__edit-button:hover {
  font-weight: 800;
  border: 1px #a96e5b dotted;
}

.instrument-form {
  margin: 20px 0;
}

.instrument-form__input {
  margin: 10px 0;
}

.instrument-form__input label {
  display: inline-block;
  width: 80px;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}


.instrument-form__input input {
  padding-left: 2px;
}

.instrument-form__input input,
.instrument-form__input select {
  width: 120px;
  box-sizing: border-box;
}

.instrument-form__button {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.instrument-form__button button {
  padding: 5px 10px;
}

.instrument-form__button .primary {
  font-weight: bold;
}

.instrument-search__form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.instrument-search__form button {
  padding: 4px;
}

.instrument-search__form input {
  flex: 1;
}